<!DOCTYPE html>
<html>
  <head>
    <title>E-resume.my</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'print', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'resume1' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
<!-- CSS Layout -->
body,html{
  height: 100%;
  background-color: #f2f2f2;
}

/* remove outer padding */

</style>
<!-- CSS Layout -->
  </head>
  <body class="bg">
    
</body>
  </html>
  <script>
  $(document).ready(function() {
     $('.progress .progress-bar').css("width",
               function() {
                   return $(this).attr("aria-valuenow") + "%";
               }
       )
   });
    $(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });



  </script>
