<h1>Editing Personal Detail</h1>

<%= render 'form', personal_detail: @personal_detail %>

<%= link_to 'Show', @personal_detail, class: 'btn btn-success' %> |
<%= link_to 'Cancel', :back, class: 'btn btn-default' %>
