<div class="row">
  <div class="col-md-6 col-md-offset-3">

  <fieldset>
    <legend>Personal Details</legend>
    <%= render 'form', personal_detail: @personal_detail %>
  </fieldset>
  </div>
</div>
