<div class="col-sm-4">
  <center>
  <h3>Modern Layout</h3>
      <p><img src="<%= image_url("tick_red.png")%>" style=" width:50px; height:50px"/></p>
          <p align="justify" style="color:black">
          We’ve got you covered. Free resume websites, easy drag and
          drop, designer-made templates, beautiful galleries,
          mobile optimized, domains, huge image collection,
          secure hosting, SEO, 24/7 full support and more -
          all wrapped up in one free eresume website builder.
          </p>
</center>
</div>
<div class="col-sm-4">
      <center>
        <h3>Customize Your Resume</h3>
        <p><img src="<%= image_url("tick_red.png")%>" style="width:50px; height:50px"/></p>
          <p align="justify" style="color:black">
          We’ve got you covered. Free resume websites, easy drag and
          drop, designer-made templates, beautiful galleries,
          mobile optimized, domains, huge image collection,
          secure hosting, SEO, 24/7 full support and more -
          all wrapped up in one free eresume website builder.
          </p>
    </center>
</div>
<div class="col-sm-4">
  <center>
    <h3>Your own Domain</h3>
    <p><img src="<%= image_url("tick_red.png")%>" style="border-radius:100%; width:50px; height:50px"/></p>
      <p align="justify" style="color:black">
    We’ve got you covered. Free resume websites, easy drag and
    drop, designer-made templates, beautiful galleries,
    mobile optimized, domains, huge image collection,
    secure hosting, SEO, 24/7 full support and more -
    all wrapped up in one free eresume website builder.
    </p>
</center>
</div>
