<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
<h4>New Certificate</h4>
</div>
<div class="panel-body">
<%= render 'form', certificate: @certificate %>
</div>
</div>
