<div class="container">
  <br>
<div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
          <h3>New Working Experiences</h3>
        </div>
        <div align="right"><%= link_to "Back", :back, class:'btn btn-link' %></div>
      </div>
      <div class="panel-body">
          <%= render 'form', employment_history: @employment_history %>
        </div>
      </div>
</div>
