<div class="col-xs-12"><br></div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading"><div class="panel-title">Language Skills <span style="float:right"><button id="language-show" class="btn btn default">Show</button></span></div></div>
        <div class="panel-body">
            <div class="col-xs-12" id="language-list" style="display:none">
              <%= render 'language_list' %>
            </div>
            <br>
            <div align="center"><button id="add_language" class="btn btn-default" >Add Language</button></div>
              <br>
            <div  class="col-xs-12" id="new_language_form" style="display:none">
              <%= render 'languages/form', language: current_user.languages.build %>
            </div>
        </div>
      </div>
    </div>
  </div>
