<div class="col-md-12"><br></div>
<div class="row">
<div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Summary
        </div>
      </div>
      <div class="panel-body">
        <% if current_user.summary.present? %>
        <div align="right">
            <button id="summary" class="btn btn-success">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
        </div>
        <%else%>
        <div align="center">
            <button id="add_summary" class="btn btn-default">
              Add Summary
            </button>
        </div>
        <%end%>
        <% if current_user.summary.present? %>
        <center>
        <%= render 'summary_info' %>
        </center>
            <div class="col-xs-12" id="summary_edit" style="display:none">

            <%= render 'summaries/form', summary: current_user.summary %>

            </div>
        <%else%>
          <div class="col-xs-12" id="new_summary_form" style="display:none">

          <%= render 'summaries/form', summary: current_user.build_summary %>

          </div>

        <%end%>
    </div>
    </div>
  </div>
</div>
