<h3><%= current_user.personal_detail.name %></h3>
<p align="center" class="col-xs-4 col-xs-offset-4" style="font-size: 13px;color:grey">
  <%= current_user.personal_detail.full_street_address %>
  <br>
  <%= current_user.personal_detail.phone_no %>
  <br>
  <%= current_user.email %>
</p>
