*{
  color: #2d3e47 !important;
}
.left{
  background-color: #bae6ff;
  padding-top: 30px;
  padding-left:30px;
  padding-right: auto;
  min-height: 11.63in;

}
.name-header{
  font-size: 26px;
  font-weight: 200;
  text-align: center;
}

.section-header{
  font-size: 14px;
  text-align: center;
  background-color: #9ccbe5;
}
.right{
  padding-top: 30px;
  padding-right: 40px;
}
.main-content{
  padding-left: 28px;
}
.justify{
  text-align: justify;
}
@media print{
  *{
    color: #2d3e47 !important;
    font-size: 11px;
  }
  .left{
    background-color: #bae6ff !important;
  }
  .section-header{
    font-size: 14px;
    background-color: #9ccbe5 !important;
  }

}
