*{
  color: #282828;
  font-size: 14px;
}
.main{
  margin-top:40px;
  margin-left:30px;
  margin-right: auto;
  margin-bottom: auto;
  width:90%;
  min-height:10in;
}
.name-header{
  font-weight: bolder;

}
.justify{
  text-align: justify;
}

.align{
  padding-top: 10px;
  padding-left: 15px;
}
.content{
  margin-left:35px;
}
.right{
  padding-left:30px
}
@media print{
  *{
  color: #282828 !important;
  font-size: 11px;
  }
}
