<div class="container">
  <br>
<div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
          <h1>Editing Education</h1>
        </div>
        <div align="right"><%= link_to "Back", resume_detail_index_path, class:'btn btn-link' %></div>
      </div>
      <div class="panel-body">
            <%= render 'form', education: @education %>
      </div>
</div>
</div>
